<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Рестораны</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>

<body>

<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">  </span>
    <span class="site-heading-lower"> </span>
</h1>
<div class="mr-3 float-lg-right">
    <span sec:authentication="name"></span>
</div>
<br/>
<ul class="nav nav-tabs">
    <li class="nav-item px-lg-1"><a class="nav-link " th:href="@{/restaurants/list}">Рестораны</a></li>
    <li class="nav-item px-lg-1"><a class="nav-link active" th:href="@{/users/list}">Пользователи</a></li>
    <li class="nav-item px-lg-1 ml-auto"><a class="nav-link" th:href="@{/logout}">Выйти</a>

</ul>

<form action="#" class="ml-3 pt-2" th:action="@{/users/update/{id}(id=${user.id})}" th:object="${user}" method="post">

    <div class="form-row">
        <div class="col-md-3">
            <label for="role">Роль пользователя</label>
            <select class="form-control" id="role" th:field="*{role}" required>
                <option selected="selected" value=""  disabled="disabled" >Select</option>
                <option th:each="role : ${T(com.restaurant.vo.Role).values()}" th:text="${role.name}"
                        th:value="${role}">Role
                </option>
            </select>
            <div class="alert alert-warning" role="alert" th:errors="*{role}" th:if="${#fields.hasErrors('role')}"></div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-3">
            <label for="email">Email</label>
            <input class="form-control" id="email" placeholder="Email" th:field="*{email}" type="email">
            <div class="alert alert-warning" role="alert" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3">
            <label for="pass">Пароль</label>
            <input class="form-control" id="pass" placeholder="Password" th:field="*{pass}" type="password">
            <span th:errors="*{pass}" th:if="${#fields.hasErrors('pass')}"></span>
        </div>
    </div>

    <div class="form-row" th:if="${#strings.contains(user.role,'RESTAURANT')}">
        <div class="col-md-3">
            <label for="restaurants">Ресторан, которым пользователь управляет</label>
            <select class="form-control" id="restaurants" th:field="*{restaurants}">
                <option selected="selected" value=""  disabled="disabled" >Select</option>
                <option th:each="restaurant : ${restaurants}" th:text="${restaurant.name}"
                        th:value="${restaurant.id}">
                </option>
            </select>
            <div class="alert alert-warning" role="alert" th:errors="*{role}" th:if="${#fields.hasErrors('role')}"></div>
        </div>
    </div>

    <div><br/></div>

    <div class="form-row">
        <div class="col-md-3">
            <button type="submit" class="btn btn-success" >Изменить пользователя</button>
        </div>
    </div>
</form>

<footer class="footer text-faded text-center py-5">
    <div class="container">
        <p class="m-0 small">Copyright &copy; Your Website 2019</p>
    </div>
</footer>

<script src="@{../../static/js/jquery.min.js}" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="@{../../static/js/bootstrap.bundle.min.js}" th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>

